<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CHANNEL</key>
	<string>http://www.service2.jiawu8.com</string>
	<key>APP_KEY</key>
	<string>b038abc39fccd2140a59cbac</string>
	<key>APS_FOR_PRODUCTION</key>
	<string>0</string>
</dict>
</plist>
