<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>七台河</key>
	<string>黑龙江</string>
	<key>三亚</key>
	<string>海南</string>
	<key>三明</key>
	<string>福建</string>
	<key>三沙</key>
	<string>海南</string>
	<key>三门峡</key>
	<string>河南</string>
	<key>上海</key>
	<string>直辖市</string>
	<key>上饶</key>
	<string>江西</string>
	<key>东莞</key>
	<string>广东</string>
	<key>东营</key>
	<string>山东</string>
	<key>中卫</key>
	<string>宁夏</string>
	<key>中山</key>
	<string>广东</string>
	<key>临夏</key>
	<string>甘肃</string>
	<key>临汾</key>
	<string>山西</string>
	<key>临沂</key>
	<string>山东</string>
	<key>临沧</key>
	<string>云南</string>
	<key>临猗</key>
	<string>山西</string>
	<key>丹东</key>
	<string>辽宁</string>
	<key>丽水</key>
	<string>浙江</string>
	<key>丽江</key>
	<string>云南</string>
	<key>义乌</key>
	<string>浙江</string>
	<key>乌兰察布</key>
	<string>内蒙古</string>
	<key>乌海</key>
	<string>内蒙古</string>
	<key>乌鲁木齐</key>
	<string>新疆</string>
	<key>乐山</key>
	<string>四川</string>
	<key>乐清</key>
	<string>浙江</string>
	<key>九江</key>
	<string>江西</string>
	<key>云浮</key>
	<string>广东</string>
	<key>五家渠</key>
	<string>新疆</string>
	<key>五指山</key>
	<string>海南</string>
	<key>仙桃</key>
	<string>湖北</string>
	<key>伊春</key>
	<string>黑龙江</string>
	<key>伊犁</key>
	<string>新疆</string>
	<key>佛山</key>
	<string>广东</string>
	<key>佳木斯</key>
	<string>黑龙江</string>
	<key>保定</key>
	<string>河北</string>
	<key>保山</key>
	<string>云南</string>
	<key>信阳</key>
	<string>河南</string>
	<key>克孜勒苏</key>
	<string>新疆</string>
	<key>克拉玛依</key>
	<string>新疆</string>
	<key>六安</key>
	<string>安徽</string>
	<key>六盘水</key>
	<string>贵州</string>
	<key>兰州</key>
	<string>甘肃</string>
	<key>兴安盟</key>
	<string>内蒙古</string>
	<key>内江</key>
	<string>四川</string>
	<key>凉山</key>
	<string>四川</string>
	<key>包头</key>
	<string>内蒙古</string>
	<key>北京</key>
	<string>直辖市</string>
	<key>北海</key>
	<string>广西</string>
	<key>十堰</key>
	<string>湖北</string>
	<key>南京</key>
	<string>江苏</string>
	<key>南充</key>
	<string>四川</string>
	<key>南宁</key>
	<string>广西</string>
	<key>南平</key>
	<string>福建</string>
	<key>南昌</key>
	<string>江西</string>
	<key>南通</key>
	<string>江苏</string>
	<key>南阳</key>
	<string>河南</string>
	<key>博尔塔拉</key>
	<string>新疆</string>
	<key>厦门</key>
	<string>福建</string>
	<key>双鸭山</key>
	<string>黑龙江</string>
	<key>台山</key>
	<string>广东</string>
	<key>台州</key>
	<string>浙江</string>
	<key>台湾</key>
	<string>其他</string>
	<key>合肥</key>
	<string>安徽</string>
	<key>吉安</key>
	<string>江西</string>
	<key>吉林</key>
	<string>吉林</string>
	<key>吐鲁番</key>
	<string>新疆</string>
	<key>吕梁</key>
	<string>山西</string>
	<key>吴忠</key>
	<string>宁夏</string>
	<key>周口</key>
	<string>河南</string>
	<key>呼伦贝尔</key>
	<string>内蒙古</string>
	<key>呼和浩特</key>
	<string>内蒙古</string>
	<key>和县</key>
	<string>安徽</string>
	<key>和田</key>
	<string>新疆</string>
	<key>咸宁</key>
	<string>湖北</string>
	<key>咸阳</key>
	<string>陕西</string>
	<key>哈密</key>
	<string>新疆</string>
	<key>哈尔滨</key>
	<string>黑龙江</string>
	<key>唐山</key>
	<string>河北</string>
	<key>商丘</key>
	<string>山东</string>
	<key>商洛</key>
	<string>陕西</string>
	<key>喀什</key>
	<string>新疆</string>
	<key>嘉兴</key>
	<string>浙江</string>
	<key>嘉峪关</key>
	<string>甘肃</string>
	<key>四平</key>
	<string>吉林</string>
	<key>固原</key>
	<string>宁夏</string>
	<key>图木舒克</key>
	<string>新疆</string>
	<key>垦利</key>
	<string>山东</string>
	<key>大丰</key>
	<string>江苏</string>
	<key>大兴安岭</key>
	<string>黑龙江</string>
	<key>大同</key>
	<string>山西</string>
	<key>大庆</key>
	<string>黑龙江</string>
	<key>大理</key>
	<string>云南</string>
	<key>大连</key>
	<string>辽宁</string>
	<key>天水</key>
	<string>甘肃</string>
	<key>天津</key>
	<string>直辖市</string>
	<key>天门</key>
	<string>湖北</string>
	<key>太原</key>
	<string>山西</string>
	<key>威海</key>
	<string>山东</string>
	<key>娄底</key>
	<string>湖南</string>
	<key>孝感</key>
	<string>湖北</string>
	<key>宁德</key>
	<string>福建</string>
	<key>宁波</key>
	<string>浙江</string>
	<key>安庆</key>
	<string>安徽</string>
	<key>安康</key>
	<string>陕西</string>
	<key>安阳</key>
	<string>河南</string>
	<key>安顺</key>
	<string>贵州</string>
	<key>定州</key>
	<string>河北</string>
	<key>定西</key>
	<string>甘肃</string>
	<key>宜宾</key>
	<string>四川</string>
	<key>宜昌</key>
	<string>湖北</string>
	<key>宜春</key>
	<string>江西</string>
	<key>宝鸡</key>
	<string>陕西</string>
	<key>宣城</key>
	<string>安徽</string>
	<key>宿州</key>
	<string>安徽</string>
	<key>宿迁</key>
	<string>江苏</string>
	<key>山南</key>
	<string>西藏</string>
	<key>岳阳</key>
	<string>湖南</string>
	<key>崇左</key>
	<string>广西</string>
	<key>巢湖</key>
	<string>安徽</string>
	<key>巴中</key>
	<string>四川</string>
	<key>巴彦淖尔市</key>
	<string>内蒙古</string>
	<key>巴音郭楞</key>
	<string>新疆</string>
	<key>常州</key>
	<string>江苏</string>
	<key>常德</key>
	<string>湖南</string>
	<key>平凉</key>
	<string>甘肃</string>
	<key>平顶山</key>
	<string>河南</string>
	<key>广元</key>
	<string>四川</string>
	<key>广安</key>
	<string>四川</string>
	<key>广州</key>
	<string>广东</string>
	<key>庄河</key>
	<string>辽宁</string>
	<key>庆阳</key>
	<string>甘肃</string>
	<key>库尔勒</key>
	<string>新疆</string>
	<key>廊坊</key>
	<string>河北</string>
	<key>延安</key>
	<string>陕西</string>
	<key>延边</key>
	<string>吉林</string>
	<key>开封</key>
	<string>河南</string>
	<key>张北</key>
	<string>河北</string>
	<key>张家口</key>
	<string>河北</string>
	<key>张家界</key>
	<string>湖南</string>
	<key>张掖</key>
	<string>甘肃</string>
	<key>徐州</key>
	<string>江苏</string>
	<key>德宏</key>
	<string>云南</string>
	<key>德州</key>
	<string>山东</string>
	<key>德阳</key>
	<string>四川</string>
	<key>忻州</key>
	<string>山西</string>
	<key>怀化</key>
	<string>湖南</string>
	<key>怒江</key>
	<string>云南</string>
	<key>恩施</key>
	<string>湖北</string>
	<key>惠州</key>
	<string>广东</string>
	<key>成都</key>
	<string>四川</string>
	<key>扬州</key>
	<string>江苏</string>
	<key>承德</key>
	<string>河北</string>
	<key>抚州</key>
	<string>江西</string>
	<key>抚顺</key>
	<string>辽宁</string>
	<key>拉萨</key>
	<string>西藏</string>
	<key>揭阳</key>
	<string>广东</string>
	<key>攀枝花</key>
	<string>四川</string>
	<key>文山</key>
	<string>云南</string>
	<key>新乡</key>
	<string>河南</string>
	<key>新余</key>
	<string>江西</string>
	<key>无锡</key>
	<string>江苏</string>
	<key>日喀则</key>
	<string>西藏</string>
	<key>日照</key>
	<string>山东</string>
	<key>昆明</key>
	<string>云南</string>
	<key>昌吉</key>
	<string>新疆</string>
	<key>昌都</key>
	<string>西藏</string>
	<key>明港</key>
	<string>河南</string>
	<key>晋中</key>
	<string>山西</string>
	<key>晋城</key>
	<string>山西</string>
	<key>普洱</key>
	<string>云南</string>
	<key>景德镇</key>
	<string>江西</string>
	<key>曲靖</key>
	<string>云南</string>
	<key>朔州</key>
	<string>山西</string>
	<key>朝阳</key>
	<string>辽宁</string>
	<key>本溪</key>
	<string>辽宁</string>
	<key>来宾</key>
	<string>广西</string>
	<key>杭州</key>
	<string>浙江</string>
	<key>松原</key>
	<string>吉林</string>
	<key>林芝</key>
	<string>西藏</string>
	<key>果洛</key>
	<string>青海</string>
	<key>枣庄</key>
	<string>山东</string>
	<key>柳州</key>
	<string>广西</string>
	<key>株洲</key>
	<string>湖南</string>
	<key>桂林</key>
	<string>广西</string>
	<key>桐城</key>
	<string>安徽</string>
	<key>梅州</key>
	<string>广东</string>
	<key>梧州</key>
	<string>广西</string>
	<key>楚雄</key>
	<string>云南</string>
	<key>榆林</key>
	<string>陕西</string>
	<key>正定</key>
	<string>河北</string>
	<key>武夷山</key>
	<string>福建</string>
	<key>武威</key>
	<string>甘肃</string>
	<key>武汉</key>
	<string>湖北</string>
	<key>毕节</key>
	<string>贵州</string>
	<key>毫州</key>
	<string>安徽</string>
	<key>永州</key>
	<string>湖南</string>
	<key>永新</key>
	<string>江西</string>
	<key>汉中</key>
	<string>陕西</string>
	<key>汕头</key>
	<string>广东</string>
	<key>汕尾</key>
	<string>广东</string>
	<key>江门</key>
	<string>广东</string>
	<key>池州</key>
	<string>安徽</string>
	<key>沈阳</key>
	<string>辽宁</string>
	<key>沧州</key>
	<string>河北</string>
	<key>沭阳</key>
	<string>江苏</string>
	<key>河池</key>
	<string>广西</string>
	<key>河源</key>
	<string>广东</string>
	<key>泉州</key>
	<string>福建</string>
	<key>泰安</key>
	<string>山东</string>
	<key>泰州</key>
	<string>江苏</string>
	<key>泸州</key>
	<string>四川</string>
	<key>洛阳</key>
	<string>河南</string>
	<key>济南</key>
	<string>云南</string>
	<key>济宁</key>
	<string>山东</string>
	<key>济源</key>
	<string>河南</string>
	<key>海东</key>
	<string>青海</string>
	<key>海北</key>
	<string>青海</string>
	<key>海南</key>
	<string>青海</string>
	<key>海口</key>
	<string>海南</string>
	<key>海拉尔</key>
	<string>内蒙古</string>
	<key>海西</key>
	<string>青海</string>
	<key>淄博</key>
	<string>山东</string>
	<key>淮北</key>
	<string>安徽</string>
	<key>淮南</key>
	<string>安徽</string>
	<key>淮安</key>
	<string>江苏</string>
	<key>深圳</key>
	<string>广东</string>
	<key>清徐</key>
	<string>山西</string>
	<key>清远</key>
	<string>广东</string>
	<key>温州</key>
	<string>浙江</string>
	<key>渭南</key>
	<string>陕西</string>
	<key>湖州</key>
	<string>浙江</string>
	<key>湘潭</key>
	<string>湖南</string>
	<key>湘西</key>
	<string>湖南</string>
	<key>湛江</key>
	<string>广东</string>
	<key>滁州</key>
	<string>安徽</string>
	<key>滨州</key>
	<string>山东</string>
	<key>漯河</key>
	<string>河南</string>
	<key>漳州</key>
	<string>福建</string>
	<key>潍坊</key>
	<string>山东</string>
	<key>潜江</key>
	<string>湖北</string>
	<key>潮州</key>
	<string>广东</string>
	<key>澳门</key>
	<string>其他</string>
	<key>濮阳</key>
	<string>河南</string>
	<key>烟台</key>
	<string>山东</string>
	<key>焦作</key>
	<string>河南</string>
	<key>牡丹江</key>
	<string>黑龙江</string>
	<key>玉林</key>
	<string>广西</string>
	<key>玉树</key>
	<string>青海</string>
	<key>玉溪</key>
	<string>云南</string>
	<key>珠海</key>
	<string>广东</string>
	<key>瑞安</key>
	<string>浙江</string>
	<key>瓦房店</key>
	<string>辽宁</string>
	<key>甘南</key>
	<string>甘肃</string>
	<key>甘孜</key>
	<string>四川</string>
	<key>白城</key>
	<string>吉林</string>
	<key>白山</key>
	<string>吉林</string>
	<key>白银</key>
	<string>甘肃</string>
	<key>百色</key>
	<string>广西</string>
	<key>益阳</key>
	<string>湖南</string>
	<key>盐城</key>
	<string>江苏</string>
	<key>盘锦</key>
	<string>辽宁</string>
	<key>眉山</key>
	<string>四川</string>
	<key>石嘴山</key>
	<string>宁夏</string>
	<key>石家庄</key>
	<string>河北</string>
	<key>石河子</key>
	<string>新疆</string>
	<key>神农架</key>
	<string>湖北</string>
	<key>福州</key>
	<string>福建</string>
	<key>禹州</key>
	<string>河南</string>
	<key>秦皇岛</key>
	<string>河北</string>
	<key>红河</key>
	<string>云南</string>
	<key>绍兴</key>
	<string>浙江</string>
	<key>绥化</key>
	<string>黑龙江</string>
	<key>绵阳</key>
	<string>四川</string>
	<key>聊城</key>
	<string>山东</string>
	<key>肇庆</key>
	<string>广东</string>
	<key>自贡</key>
	<string>四川</string>
	<key>舟山</key>
	<string>浙江</string>
	<key>芜湖</key>
	<string>安徽</string>
	<key>苏州</key>
	<string>江苏</string>
	<key>茂名</key>
	<string>广东</string>
	<key>荆州</key>
	<string>湖北</string>
	<key>荆门</key>
	<string>湖北</string>
	<key>莆田</key>
	<string>福建</string>
	<key>莱芜</key>
	<string>山东</string>
	<key>菏泽</key>
	<string>山东</string>
	<key>萍乡</key>
	<string>江西</string>
	<key>营口</key>
	<string>辽宁</string>
	<key>葫芦岛</key>
	<string>辽宁</string>
	<key>蚌埠</key>
	<string>安徽</string>
	<key>衡水</key>
	<string>河北</string>
	<key>衡阳</key>
	<string>湖南</string>
	<key>衢州</key>
	<string>浙江</string>
	<key>襄阳</key>
	<string>湖北</string>
	<key>西双版纳</key>
	<string>云南</string>
	<key>西宁</key>
	<string>青海</string>
	<key>西安</key>
	<string>陕西</string>
	<key>许昌</key>
	<string>河南</string>
	<key>诸城</key>
	<string>山东</string>
	<key>贵港</key>
	<string>广西</string>
	<key>贵阳</key>
	<string>贵州</string>
	<key>贺州</key>
	<string>广西</string>
	<key>资阳</key>
	<string>四川</string>
	<key>赣州</key>
	<string>江西</string>
	<key>赤峰</key>
	<string>内蒙古</string>
	<key>赵县</key>
	<string>河北</string>
	<key>辽源</key>
	<string>吉林</string>
	<key>辽阳</key>
	<string>辽宁</string>
	<key>达州</key>
	<string>四川</string>
	<key>运城</key>
	<string>山西</string>
	<key>连云港</key>
	<string>江苏</string>
	<key>迪庆</key>
	<string>云南</string>
	<key>通化</key>
	<string>吉林</string>
	<key>通辽</key>
	<string>内蒙古</string>
	<key>遂宁</key>
	<string>四川</string>
	<key>遵义</key>
	<string>贵州</string>
	<key>邢台</key>
	<string>河北</string>
	<key>那曲</key>
	<string>西藏</string>
	<key>邯郸</key>
	<string>河北</string>
	<key>邵通</key>
	<string>云南</string>
	<key>邵阳</key>
	<string>湖南</string>
	<key>郑州</key>
	<string>河南</string>
	<key>郴州</key>
	<string>湖南</string>
	<key>鄂尔多斯</key>
	<string>内蒙古</string>
	<key>鄂州</key>
	<string>湖北</string>
	<key>鄢陵</key>
	<string>河南</string>
	<key>酒泉</key>
	<string>甘肃</string>
	<key>重庆</key>
	<string>直辖市</string>
	<key>金华</key>
	<string>浙江</string>
	<key>金昌</key>
	<string>甘肃</string>
	<key>钦州</key>
	<string>广西</string>
	<key>铁岭</key>
	<string>辽宁</string>
	<key>铜仁</key>
	<string>贵州</string>
	<key>铜川</key>
	<string>陕西</string>
	<key>铜陵</key>
	<string>安徽</string>
	<key>银川</key>
	<string>宁夏</string>
	<key>锡林郭勒盟</key>
	<string>内蒙古</string>
	<key>锦州</key>
	<string>辽宁</string>
	<key>镇江</key>
	<string>江苏</string>
	<key>长春</key>
	<string>吉林</string>
	<key>长沙</key>
	<string>湖南</string>
	<key>长治</key>
	<string>山西</string>
	<key>长葛</key>
	<string>河南</string>
	<key>阜新</key>
	<string>辽宁</string>
	<key>阜阳</key>
	<string>安徽</string>
	<key>防城港</key>
	<string>广西</string>
	<key>阳春</key>
	<string>广东</string>
	<key>阳江</key>
	<string>广东</string>
	<key>阳泉</key>
	<string>山西</string>
	<key>阿克苏</key>
	<string>新疆</string>
	<key>阿坝</key>
	<string>四川</string>
	<key>阿拉善盟</key>
	<string>内蒙古</string>
	<key>阿拉尔</key>
	<string>新疆</string>
	<key>阿里</key>
	<string>西藏</string>
	<key>陇南</key>
	<string>甘肃</string>
	<key>随州</key>
	<string>湖北</string>
	<key>雅安</key>
	<string>四川</string>
	<key>霍邱</key>
	<string>安徽</string>
	<key>青岛</key>
	<string>山东</string>
	<key>鞍山</key>
	<string>辽宁</string>
	<key>韶关</key>
	<string>广东</string>
	<key>顺德</key>
	<string>广东</string>
	<key>馆陶</key>
	<string>河北</string>
	<key>香港</key>
	<string>其他</string>
	<key>马鞍山</key>
	<string>安徽</string>
	<key>驻马店</key>
	<string>河南</string>
	<key>鸡西</key>
	<string>黑龙江</string>
	<key>鹤壁</key>
	<string>河南</string>
	<key>鹤岗</key>
	<string>黑龙江</string>
	<key>鹰潭</key>
	<string>江西</string>
	<key>黄冈</key>
	<string>湖北</string>
	<key>黄南</key>
	<string>青海</string>
	<key>黄山</key>
	<string>安徽</string>
	<key>黄石</key>
	<string>湖北</string>
	<key>黑河</key>
	<string>黑龙江</string>
	<key>黔东南</key>
	<string>贵州</string>
	<key>黔南</key>
	<string>贵州</string>
	<key>黔西南</key>
	<string>贵州</string>
	<key>齐齐哈尔</key>
	<string>黑龙江</string>
	<key>龙岩</key>
	<string>福建</string>
</dict>
</plist>
